In [1]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [2]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [3]:
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
print(soup.prettify())

In [4]:
results_titles = soup.find_all('div', class_='content_title')

In [5]:
summaries = soup.find_all("div", class_ = "rollover_description_inner")

In [6]:
title_first = results_titles[0].text.strip()
summaries_first = summaries[0].text.strip()

In [7]:
title_first

'NASA Invests in Visionary Technology'

In [8]:
summaries_first

'NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.'

In [ ]:
##Splinter stuff wooo

In [7]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [8]:
browser.visit(url1)

In [9]:
html1 = browser.html

In [10]:
soup1 = BeautifulSoup(html1, 'html.parser')

In [ ]:
articles = soup1.find_all("article",class_ = "carousel_item")

In [ ]:
##i cant get the url out of this..even though i can see it....i dont know why...so im doing something else
articles[0]

In [11]:
browser.click_link_by_partial_text('FULL IMAGE')

In [12]:
browser.click_link_by_partial_text('more info')

In [13]:
html2 = browser.html

In [14]:
##new soup stuff
soup2 = BeautifulSoup(html2, "html.parser")

In [14]:
browser.click_link_by_partial_href('spaceimages/images')

In [15]:
feature_image_url = browser.url

In [17]:
feature_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19108_hires.jpg'

In [16]:
url3 = "https://twitter.com/marswxreport?lang=en"
# Retrieve page with the requests module
response = requests.get(url3)
# Create BeautifulSoup object; parse with 'html.parser'
soup3 = BeautifulSoup(response.text, 'html.parser')

In [ ]:
print(soup3.prettify())

In [17]:
mars_weather = soup3.find_all("p",class_ = "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")[0].text

In [18]:
mars_weather

'Sol 2037 (April 30, 2018), Sunny, high -2C/28F, low -75C/-103F, pressure at 7.25 hPa, daylight 05:24-17:20'

In [ ]:
##scraping mars facts

In [19]:
url4 = "https://space-facts.com/mars/"

In [20]:
tables = pd.read_html(url4)

In [21]:
df = tables[0]

In [24]:
df.columns = ["Parameter", "Values"]

In [23]:
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
mars_data_df = df.set_index(["Parameter"])

In [26]:
mars_data_df.to_html("mars_facts.html")
mars_data_html = mars_data_df.to_html()
mars_data_html = mars_data_html.replace("\n", "")

In [27]:
url5 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [28]:
browser.visit(url5)

In [29]:
html3 = browser.html

In [30]:
soup3 = BeautifulSoup(html3, "html.parser")

In [ ]:
#print(soup3.prettify())

In [31]:
links = []

for link in soup3.find_all('a'):
    finds = link.get("href")
    if ("/search/map/Mars" in finds):
        links.append(finds)
        print(finds)

/search/map/Mars/Viking/cerberus_enhanced
/search/map/Mars/Viking/cerberus_enhanced
/search/map/Mars/Viking/schiaparelli_enhanced
/search/map/Mars/Viking/schiaparelli_enhanced
/search/map/Mars/Viking/syrtis_major_enhanced
/search/map/Mars/Viking/syrtis_major_enhanced
/search/map/Mars/Viking/valles_marineris_enhanced
/search/map/Mars/Viking/valles_marineris_enhanced

In [32]:
links = list(set(links))

In [30]:
#splinter and chrommedriver doesnt like for loops...

# for i in range((len(links))):
#     browser.click_link_by_partial_href(links[i])
#     html5 = browser.html
#     html5.find_all("h2", class_ ="title")
#     browser.back()

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced']

In [33]:
hemisphere_image_urls = []

In [34]:
for i in range(len(links)):
    dicts1 = {}
    dicts1["title"] = soup3.find_all("h3")[i].text
    browser.click_link_by_partial_text(soup3.find_all("h3")[i].text)
    n_html = browser.html
    soup4 = BeautifulSoup(n_html, "html.parser")
    for link in soup4.find_all("a"):
        finds = link.get("href")
        if ("/full.jpg" in finds):
            dicts1["img_url"] = finds
            print(finds)
    
    hemisphere_image_urls.append(dicts1)
    browser.back()

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [39]:
hemisphere_image_urls[1]["title"]

'Schiaparelli Hemisphere Enhanced'

In [48]:
mars_data_dict = {"weather":mars_weather,"mars_facts":mars_data_html,"hemisphere":hemisphere_image_urls,"feature_image": feature_image_url,"title_feature":title_first,"summary_feature":summaries_first}

In [37]:
for item in mars_data_dict:
    print(item["weather"])
#mars_data_dict["weather"]

Sol 2037 (April 30, 2018), Sunny, high -2C/28F, low -75C/-103F, pressure at 7.25 hPa, daylight 05:24-17:20

In [45]:
mars_data_dict[0]["hemisphere"][0]["title"]

'Cerberus Hemisphere Enhanced'

In [58]:
#for listing in mars_data_dict:
   # print(listing)
listings = ({'weather':mars_data_dict[0]['weather'], 'hemisphere':mars_data_dict[0]['hemisphere'],'feature_image':mars_data_dict[0]['feature_image'],'title_feature':mars_data_dict[0]['title_feature']})

In [46]:
mars_data_dict[0]["feature_image"]

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19808_hires.jpg'

In [62]:
listings["feature_image"]

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19808_hires.jpg'

In [47]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [49]:
mars_data_dict["weather"]

'Sol 2037 (April 30, 2018), Sunny, high -2C/28F, low -75C/-103F, pressure at 7.25 hPa, daylight 05:24-17:20'