In [1]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [2]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

In [3]:
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
print(soup.prettify())

In [4]:
results_titles = soup.find_all('div', class_='content_title')

In [5]:
summaries = soup.find_all("div", class_ = "rollover_description_inner")

In [6]:
title_first = results_titles[0].text.strip()
summaries_first = summaries[0].text.strip()

In [7]:
title_first

'NASA Invests in Visionary Technology'

In [8]:
summaries_first

'NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.'

In [ ]:
##Splinter stuff wooo

In [9]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [10]:
browser.visit(url1)

In [11]:
html1 = browser.html

In [12]:
soup1 = BeautifulSoup(html1, 'html.parser')

In [ ]:
articles = soup1.find_all("article",class_ = "carousel_item")

In [ ]:
##i cant get the url out of this..even though i can see it....i dont know why...so im doing something else
articles[0]

In [13]:
browser.click_link_by_partial_text('FULL IMAGE')

In [14]:
browser.click_link_by_partial_text('more info')

In [ ]:
html2 = browser.html

In [ ]:
##new soup stuff
soup2 = BeautifulSoup(html2, "html.parser")

In [15]:
browser.click_link_by_partial_href('spaceimages/images')

In [16]:
feature_image_url = browser.url

In [17]:
feature_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19108_hires.jpg'

In [18]:
url3 = "https://twitter.com/marswxreport?lang=en"
# Retrieve page with the requests module
response = requests.get(url3)
# Create BeautifulSoup object; parse with 'html.parser'
soup3 = BeautifulSoup(response.text, 'html.parser')

In [ ]:
print(soup3.prettify())

In [19]:
mars_weather = soup3.find_all("p",class_ = "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")[0].text

In [20]:
mars_weather

'Sol 2037 (April 30, 2018), Sunny, high -2C/28F, low -75C/-103F, pressure at 7.25 hPa, daylight 05:24-17:20'

In [ ]:
##scraping mars facts

In [21]:
url4 = "https://space-facts.com/mars/"

In [61]:
tables = pd.read_html(url4)

In [62]:
df = tables[0]

In [63]:
df.columns = ["Parameter", "Values"]

In [64]:
df

              Parameter                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [65]:
mars_data_df = df.set_index(["Parameter"])

In [66]:
mars_data_html = mars_data_df.to_html()

In [67]:
mars_facts = mars_data_html.replace('\n','')

In [68]:
mars_facts

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Values</th>    </tr>    <tr>      <th>Parameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [24]:
url5 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [25]:
browser.visit(url5)

In [26]:
html3 = browser.html

In [27]:
soup3 = BeautifulSoup(html3, "html.parser")

In [ ]:
#print(soup3.prettify())

In [28]:
links = []

for link in soup3.find_all('a'):
    finds = link.get("href")
    if ("/search/map/Mars" in finds):
        links.append(finds)
        print(finds)

/search/map/Mars/Viking/cerberus_enhanced
/search/map/Mars/Viking/cerberus_enhanced
/search/map/Mars/Viking/schiaparelli_enhanced
/search/map/Mars/Viking/schiaparelli_enhanced
/search/map/Mars/Viking/syrtis_major_enhanced
/search/map/Mars/Viking/syrtis_major_enhanced
/search/map/Mars/Viking/valles_marineris_enhanced
/search/map/Mars/Viking/valles_marineris_enhanced

In [29]:
links = list(set(links))

In [30]:
#splinter and chrommedriver doesnt like for loops...

# for i in range((len(links))):
#     browser.click_link_by_partial_href(links[i])
#     html5 = browser.html
#     html5.find_all("h2", class_ ="title")
#     browser.back()

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced']

In [31]:
hemisphere_image_urls = []

In [32]:
for i in range(len(links)):
    dicts1 = {}
    dicts1["title"] = soup3.find_all("h3")[i].text
    browser.click_link_by_partial_text(soup3.find_all("h3")[i].text)
    n_html = browser.html
    soup4 = BeautifulSoup(n_html, "html.parser")
    for link in soup4.find_all("a"):
        finds = link.get("href")
        if ("/full.jpg" in finds):
            dicts1["img_url"] = finds
            print(finds)
    
    hemisphere_image_urls.append(dicts1)
    browser.back()

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [33]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [39]:
mars_data_dict = [{"weather":mars_weather,"mars_facts":mars_facts,"hemisphere":hemisphere_image_urls,"feature_image": feature_image_url,"title_feature":title_first,"summary_feature":summaries_first}]

In [41]:
for item in mars_data_dict:
    print(item["weather"])
#mars_data_dict["weather"]

Sol 2037 (April 30, 2018), Sunny, high -2C/28F, low -75C/-103F, pressure at 7.25 hPa, daylight 05:24-17:20

'6,792 km'